@model Assignment.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CHỈNH SỬA</h1>

<h4>SẢN PHẨM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="update" asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group" style="display: none;">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img src="~/images/Products/@(Model.Image)" width="250px" />
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">TRỞ VỀ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
            $("#submit").click(function (e) {
            e.preventDefault();

            //Lấy data từ form (gọi id)
            var data = $('#update').serialize();
            $.ajax(
                {
                    type: "PUT",
                    url: "/Admin/Product/Edit",
                    data: data,
                    headers: {
                        'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val() //Dùng cho [ValidateAntiForgeryToken]
                    },

                    //Thông báo
                    success: function (response) {
                        if (response.success) {
                            // Nếu thành công
                            if (response.redirectToUrl) {
                                window.location.href = response.redirectToUrl;
                            }


                            // if (response.redirectToUrl) {
                            //     window.location.href = response.redirectToUrl;
                            // } else {
                            //     alert("Cập nhật thành công.");
                            // }
                        }
                        else {
                            // Nếu thất bại
                            alert("Cập nhật thất bại.");
                        }
                }
            });
        })
    </script>
}
